*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.navbar{
	position: sticky;
	top: 0;
	z-index: 100;
}

.project-img{
	object-fit: contain;
	width: 500px;
	height: 500px;
}

.skill{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.skill > .progress{
	flex-grow: 1;
	margin: 14px;
}

@keyframes mymove{
	0% {width: 0%;}
}

.progress-bar{
	animation: mymove 5s infinite;
}

#landing{
	display:block;
	position:relative;
}

#landing::after{
	content: "";
	background-image: url("../images/bg-landing2.jpg");
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

